body{
    background-image: url(itesg.png);
    background-size: 1600px 780px;
}

form{
    text-align: center;
    padding: 45px 220px;
    color:aquamarine;
    font-size: 50px;
}

.contenedor{
    background-color: rgba(218, 27, 199, 0.424);
}

h1{
    text-align: center;
    font-size: 50px;
    color:#4529d2;
}

h2{
    text-align:right;
}

.pregunta{
    text-align: center; 
    color: #3bb64f;
}

#carita{
    text-align: center; 
    color: rgb(230, 241, 13);
    font-size: 40px;
}

input[type="button"]{
    color: rgb(14, 203, 237);
}

button[type="submit"]{
    color: rgb(255, 136, 0);
}